@inject Microsoft.AspNetCore.Modules.ModuleInstanceIdProvider Module

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Module1</title>
</head>
<body>
    <h1>Hello from MVC in @Module.ModuleInstanceId!</h1>
</body>
</html>